# OS X
.DS_Store
*__MACOSX
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Vim
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# IntelliJ
.idea
*.iml
*.iws

# Project
*.class
target/
.classpath
src/test/resources/pdf-files/
src/test/resources/tiff-files/

